host: 0.0.0.0
datastore:
  kind: "alloydb-postgres"
  project: ${project}
  region: ${region}
  cluster: ${cluster}
  instance: ${instance}
  database: ${database}
  user: ${username}
  password: ${password}